cosmotech-run-orchestrator~=2.0.1
azure-storage-blob
CosmoTech-Acceleration-Library @ git+https://github.com/Cosmo-Tech/CosmoTech-Acceleration-Library@feature/cosmotech_api_5.0
cosmotech-api~=5.0.0b3
faker~=30.6.0
psycopg2-binary==2.9.*
numpy~=2.3.2
